In [ ]:
# Colab 환경에서
# from google.colab import drive
# drive.mount('/content/drive')

In [8]:
from pathlib import Path

current_path = Path().cwd()
root = current_path.parent.parent
data = root / 'data'
src = root / 'src'
images = root / 'images'
print(root.absolute())

/home/yeeun/Sparta/Project1

In [15]:
import pandas as pd

datasets = {
    'games_details': None,
    'ranking': None,
    'games': None,
    'players': None,
    'teams': None
}

pandas_kwargs = {
    'games_details': {
        'dtype': {'NICKNAME': str}
    },
    'ranking': {
        
    },
    'games': {
        
    },
    'players': {
        
    },
    'teams': {
        
    }
}

for name in datasets:
    datasets[name] = pd.read_csv(data / f'{name}.csv', **pandas_kwargs[name])

games_details = datasets['games_details']
games = datasets['games']
players = datasets['players']
ranking = datasets['ranking']
teams = datasets['teams']

In [16]:
games_details.head(5)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0