In [7]:
from utils import load_dataset

In [ ]:
games_details_regular = load_dataset('games_details_regular', 2022)
games_details_regular.head(10)

,GAME_ID,TEAM,PLAYER_ID,START_POSITION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
DATE,,,,,,,,,,,,,,,,,,,,,
2022-09-30,12200001,Washington,1630176,0,8.333333,1,2,0.500,0,0,...,1,2.0,3,0,0,2,0,0,3,-6
2022-09-30,12200001,Golden State,203952,F,16.250000,1,8,0.125,1,4,...,1,5.0,6,1,1,0,0,1,5,-2
2022-09-30,12200001,Golden State,203110,F,13.083333,1,2,0.500,0,1,...,0,8.0,8,2,0,0,1,0,4,-2
2022-09-30,12200001,Golden State,1626172,C,15.950000,2,7,0.286,0,0,...,3,4.0,7,1,0,0,1,3,4,-2
2022-09-30,12200001,Golden State,1629673,G,19.166667,1,10,0.100,0,4,...,0,5.0,5,1,1,1,1,1,5,4
2022-09-30,12200001,Golden State,201939,G,13.083333,1,7,0.143,1,4,...,0,3.0,3,2,0,0,4,0,6,-2
2022-09-30,12200001,Golden State,1630541,0,25.300000,2,6,0.333,1,4,...,0,1.0,1,2,1,0,0,5,5,7
2022-09-30,12200001,Golden State,1628978,0,17.100000,3,4,0.750,2,3,...,0,7.0,7,2,0,0,0,0,9,9
2022-09-30,12200001,Golden State,203210,0,16.083333,0,3,0.000,0,1,...,3,2.0,5,1,0,0,0,1,0,9
2022-09-30,12200001,Golden State,1630164,0,23.833333,8,11,0.727,0,0,...,2,7.0,9,1,0,1,2,3,20,15