In [1]:
from utils import load_dataset

In [2]:
games_details_regular = load_dataset('games_details_regular', 2022)
games_details_regular.info()

<class 'pandas.core.frame.DataFrame'>
Index: 305490 entries, 2022-10-18 to 2022-12-22
Data columns (total 25 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   GAME_ID         305490 non-null  int64
 1   TEAM            305490 non-null  category
 2   TEAM_LVL        305490 non-null  category
 3   PLAYER_ID       305490 non-null  int64
 4   START_POSITION  305490 non-null  category
 5   MIN             305490 non-null  float64
 6   FGM             305490 non-null  int64
 7   FGA             305490 non-null  int64
 8   FG_PCT          305490 non-null  float64
 9   FG3M            305490 non-null  int64
 10  FG3A            305490 non-null  int64
 11  FG3_PCT         305490 non-null  float64
 12  FTM             305490 non-null  int64
 13  FTA             305490 non-null  int64
 14  FT_PCT          305490 non-null  float64
 15  OREB            305490 non-null  int64
 16  DREB            305490 non-null  float64
 17  REB             305490 non-null  int64
 18  AST             305490 non-null  int64
 19  STL             305490 non-null  int64
 20  BLK             305490 non-null  int64
 21  TO              305490 non-null  int64
 22  PF              305490 non-null  int64
 23  PTS             305490 non-null  int64
 24  PLUS_MINUS      305490 non-null  int64
dtypes: category(3), float64(5), int64(17)
memory usage: 54.5+ MB

In [3]:
games_regular = load_dataset('games_regular', 2022)
games_regular.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14310 entries, 2022-10-18 to 2022-12-22
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   GAME_ID           14310 non-null  int64
 1   HOME_TEAM         14310 non-null  category
 2   HOME_TEAM_LVL     14310 non-null  category
 3   PTS_home          14310 non-null  int64
 4   FG_PCT_home       14310 non-null  float64
 5   FT_PCT_home       14310 non-null  float64
 6   FG3_PCT_home      14310 non-null  float64
 7   AST_home          14310 non-null  int64
 8   REB_home          14310 non-null  int64
 9   VISITOR_TEAM      14310 non-null  category
 10  VISITOR_TEAM_LVL  14310 non-null  category
 11  PTS_away          14310 non-null  int64
 12  FG_PCT_away       14310 non-null  float64
 13  FT_PCT_away       14310 non-null  float64
 14  FG3_PCT_away      14310 non-null  float64
 15  AST_away          14310 non-null  int64
 16  REB_away          14310 non-null  int64
 17  HOME_TEAM_WINS    14310 non-null  int64
dtypes: category(4), float64(6), int64(8)
memory usage: 1.7+ MB

In [4]:
ranking_regular = load_dataset('ranking_regular', 2022)
ranking_regular.info()

<class 'pandas.core.frame.DataFrame'>
Index: 57600 entries, 2022-10-18 to 2022-12-22
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CONFERENCE   57600 non-null  category
 1   TEAM         57600 non-null  category
 2   TEAM_LVL     57600 non-null  category
 3   G            57600 non-null  int64
 4   W            57600 non-null  int64
 5   L            57600 non-null  int64
 6   W_PCT        57600 non-null  float64
 7   HOME_RECORD  57600 non-null  object
 8   ROAD_RECORD  57600 non-null  object
dtypes: category(3), float64(1), int64(3), object(2)
memory usage: 3.2+ MB