In [7]:
from utils import load_dataset

In [10]:
games_details_regular = load_dataset('games_details_regular', 2022)
games_details_regular.head(10)

,GAME_ID,TEAM,PLAYER_ID,START_POSITION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
DATE,,,,,,,,,,,,,,,,,,,,,
2022-10-18,22200001,Boston,1630573,0,3.316667,0,0,0.000,0,0,...,0,0.0,0,0,0,0,0,1,0,3
2022-10-18,22200001,Boston,1628369,F,38.616667,13,20,0.650,2,7,...,0,12.0,12,4,1,1,3,1,35,10
2022-10-18,22200001,Boston,201933,0,8.283333,0,2,0.000,0,1,...,2,3.0,5,1,0,0,0,3,1,-5
2022-10-18,22200001,Boston,1627763,0,23.866667,7,11,0.636,0,2,...,1,1.0,2,4,2,0,1,2,16,9
2022-10-18,22200001,Boston,1629684,0,23.950000,5,5,1.000,3,3,...,0,1.0,1,1,0,0,0,3,15,-3
2022-10-18,22200001,Boston,203943,0,20.166667,1,2,0.500,0,0,...,0,2.0,2,0,1,1,0,4,2,7
2022-10-18,22200001,Boston,1628401,G,24.033333,1,3,0.333,0,1,...,1,2.0,3,4,1,0,1,2,2,9
2022-10-18,22200001,Boston,201143,C,23.100000,2,7,0.286,2,5,...,1,4.0,5,1,0,0,0,4,6,8
2022-10-18,22200001,Boston,1627759,F,38.566667,14,24,0.583,4,12,...,0,3.0,3,2,2,1,4,1,35,7
2022-10-18,22200001,Philadelphia,1630178,G,38.200000,8,16,0.500,2,5,...,0,1.0,1,2,2,0,1,5,21,-6

In [9]:
games_regular = load_dataset('games_regular', 2022)
games_regular.head(10)

,GAME_ID,HOME_TEAM,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,VISITOR_TEAM,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
DATE,,,,,,,,,,,,,,,,
2022-10-18,22200002,Golden State,123,0.455,0.739,0.356,31,48,L.A. Lakers,109,0.426,0.760,0.250,23,48,1
2022-10-18,22200001,Boston,126,0.561,0.786,0.343,24,36,Philadelphia,117,0.500,0.857,0.382,16,31,1
2022-10-18,22200002,Golden State,123,0.455,0.739,0.356,31,48,L.A. Lakers,109,0.426,0.760,0.250,23,48,1
2022-10-18,22200001,Boston,126,0.561,0.786,0.343,24,36,Philadelphia,117,0.500,0.857,0.382,16,31,1
2022-10-18,22200002,Golden State,123,0.455,0.739,0.356,31,48,L.A. Lakers,109,0.426,0.760,0.250,23,48,1
2022-10-18,22200001,Boston,126,0.561,0.786,0.343,24,36,Philadelphia,117,0.500,0.857,0.382,16,31,1
2022-10-18,22200002,Golden State,123,0.455,0.739,0.356,31,48,L.A. Lakers,109,0.426,0.760,0.250,23,48,1
2022-10-18,22200001,Boston,126,0.561,0.786,0.343,24,36,Philadelphia,117,0.500,0.857,0.382,16,31,1
2022-10-18,22200002,Golden State,123,0.455,0.739,0.356,31,48,L.A. Lakers,109,0.426,0.760,0.250,23,48,1
2022-10-18,22200001,Boston,126,0.561,0.786,0.343,24,36,Philadelphia,117,0.500,0.857,0.382,16,31,1

In [12]:
ranking_regular = load_dataset('ranking_regular', 2022)
ranking_regular.head(10)

,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,TEAM_LEVEL
DATE,,,,,,,,,
2022-10-18,East,Boston,1,1,0,1.0,1-0,0-0,상위팀
2022-10-18,East,Washington,0,0,0,0.0,0-0,0-0,하위팀
2022-10-18,East,Toronto,0,0,0,0.0,0-0,0-0,중위팀
2022-10-18,East,Orlando,0,0,0,0.0,0-0,0-0,하위팀
2022-10-18,East,New York,0,0,0,0.0,0-0,0-0,중위팀
2022-10-18,East,Milwaukee,0,0,0,0.0,0-0,0-0,상위팀
2022-10-18,East,Indiana,0,0,0,0.0,0-0,0-0,중위팀
2022-10-18,East,Detroit,0,0,0,0.0,0-0,0-0,하위팀
2022-10-18,East,Charlotte,0,0,0,0.0,0-0,0-0,하위팀
2022-10-18,East,Brooklyn,0,0,0,0.0,0-0,0-0,상위팀