## 전처리 코드

In [1]:
import pandas as pd

from utils import load_dataset

### 데이터 불러오기

In [2]:
games_details = load_dataset('games_details')
games = load_dataset('games')
ranking = load_dataset('ranking')

### 필요한 컬럼만 남김

In [3]:
drop_cols = ['TEAM_ABBREVIATION', 'TEAM_CITY', 'NICKNAME', 'PLAYER_NAME', 'COMMENT']
games_details.drop(columns=drop_cols, inplace=True)
games_details.head(10)

,GAME_ID,TEAM_ID,PLAYER_ID,START_POSITION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,1629641,F,18.100000,1.0,1.0,1.000,0.0,0.0,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,1631110,F,31.016667,7.0,14.0,0.500,2.0,4.0,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,1627751,C,21.700000,6.0,9.0,0.667,0.0,0.0,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,1630170,G,30.333333,4.0,13.0,0.308,1.0,6.0,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,1630200,G,27.733333,7.0,12.0,0.583,1.0,3.0,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
5,22200477,1610612759,1628380,NaN,18.066667,2.0,6.0,0.333,0.0,0.0,...,1.0,1.0,2.0,2.0,0.0,0.0,0.0,3.0,6.0,-13.0
6,22200477,1610612759,203926,NaN,16.916667,2.0,8.0,0.250,1.0,5.0,...,1.0,3.0,4.0,1.0,0.0,0.0,1.0,0.0,5.0,-10.0
7,22200477,1610612759,1626196,NaN,21.333333,5.0,11.0,0.455,2.0,5.0,...,1.0,2.0,3.0,3.0,0.0,0.0,1.0,2.0,14.0,-2.0
8,22200477,1610612759,1631103,NaN,21.166667,4.0,6.0,0.667,1.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,9.0,-6.0
9,22200477,1610612759,1628966,NaN,9.266667,1.0,3.0,0.333,0.0,0.0,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,-1.0

In [4]:
drop_cols = ['GAME_STATUS_TEXT']
games.drop(columns=drop_cols, inplace=True)
games.head(10)

,GAME_DATE_EST,GAME_ID,HOME_TEAM_ID,VISITOR_TEAM_ID,SEASON,TEAM_ID_home,PTS_home,FG_PCT_home,FT_PCT_home,FG3_PCT_home,AST_home,REB_home,TEAM_ID_away,PTS_away,FG_PCT_away,FT_PCT_away,FG3_PCT_away,AST_away,REB_away,HOME_TEAM_WINS
0,2022-12-22,22200477,1610612740,1610612759,2022,1610612740,126.0,0.484,0.926,0.382,25.0,46.0,1610612759,117.0,0.478,0.815,0.321,23.0,44.0,1
1,2022-12-22,22200478,1610612762,1610612764,2022,1610612762,120.0,0.488,0.952,0.457,16.0,40.0,1610612764,112.0,0.561,0.765,0.333,20.0,37.0,1
2,2022-12-21,22200466,1610612739,1610612749,2022,1610612739,114.0,0.482,0.786,0.313,22.0,37.0,1610612749,106.0,0.470,0.682,0.433,20.0,46.0,1
3,2022-12-21,22200467,1610612755,1610612765,2022,1610612755,113.0,0.441,0.909,0.297,27.0,49.0,1610612765,93.0,0.392,0.735,0.261,15.0,46.0,1
4,2022-12-21,22200468,1610612737,1610612741,2022,1610612737,108.0,0.429,1.000,0.378,22.0,47.0,1610612741,110.0,0.500,0.773,0.292,20.0,47.0,0
5,2022-12-21,22200469,1610612738,1610612754,2022,1610612738,112.0,0.386,0.840,0.317,26.0,62.0,1610612754,117.0,0.469,0.778,0.462,27.0,47.0,0
6,2022-12-21,22200470,1610612751,1610612744,2022,1610612751,143.0,0.643,0.875,0.636,42.0,32.0,1610612744,113.0,0.494,0.760,0.364,32.0,36.0,1
7,2022-12-21,22200471,1610612752,1610612761,2022,1610612752,106.0,0.553,0.611,0.423,25.0,38.0,1610612761,113.0,0.447,0.909,0.265,17.0,38.0,0
8,2022-12-21,22200472,1610612745,1610612753,2022,1610612745,110.0,0.466,0.647,0.395,22.0,49.0,1610612753,116.0,0.451,0.697,0.297,19.0,45.0,0
9,2022-12-21,22200473,1610612750,1610612742,2022,1610612750,99.0,0.494,0.700,0.267,23.0,39.0,1610612742,104.0,0.453,0.852,0.333,17.0,39.0,0

In [6]:
drop_cols = ['LEAGUE_ID', 'RETURNTOPLAY']
ranking.drop(columns=drop_cols, inplace=True)
ranking.head(10)

,TEAM_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
0,1610612743,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8
1,1610612763,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9
2,1610612740,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8
3,1610612756,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9
4,1610612746,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7
5,1610612758,22022,2022-12-22,West,Sacramento,30,17,13,0.567,9-5,8-8
6,1610612762,22022,2022-12-22,West,Utah,35,19,16,0.543,12-5,7-11
7,1610612757,22022,2022-12-22,West,Portland,32,17,15,0.531,7-6,10-9
8,1610612742,22022,2022-12-22,West,Dallas,32,16,16,0.500,12-5,4-11
9,1610612750,22022,2022-12-22,West,Minnesota,32,16,16,0.500,9-8,7-8

### 2022년 데이터만 사용

In [15]:
games_details_2022 = pd.merge(games_details, games[['GAME_DATE_EST', 'GAME_ID']], how='inner', on='GAME_ID').copy()
games_details_2022 = games_details_2022[games_details_2022['GAME_DATE_EST'].dt.year == 2022]

In [16]:
games_2022 = games[games['GAME_DATE_EST'].dt.year == 2022].copy()
ranking_2022 = ranking[ranking['STANDINGSDATE'].dt.year == 2022].copy()

In [17]:
games_details_2022.rename(columns={'GAME_DATE_EST': 'DATE'}, inplace=True)
games_2022.rename(columns={'GAME_DATE_EST': 'DATE'}, inplace=True)
ranking_2022.rename(columns={'STANDINGSDATE': 'DATE'}, inplace=True)

### 시즌 2022만 포함

In [20]:
season_2022_dates = games[games['SEASON'] == 2022]['GAME_DATE_EST'].tolist()
season_2022_dates = set(season_2022_dates)

In [21]:
games_details_season2022 = pd.merge(games_details, games[['GAME_DATE_EST', 'GAME_ID']], how='inner', on='GAME_ID').copy()
games_details_season2022 = games_details_season2022[games_details_season2022['GAME_DATE_EST'].isin(season_2022_dates)]

In [22]:
games_season2022 = games[games['GAME_DATE_EST'].isin(season_2022_dates)].copy()
ranking_season2022 = ranking[ranking['STANDINGSDATE'].isin(season_2022_dates)].copy()

In [23]:
games_details_season2022.rename(columns={'GAME_DATE_EST': 'DATE'}, inplace=True)
games_season2022.rename(columns={'GAME_DATE_EST': 'DATE'}, inplace=True)
ranking_season2022.rename(columns={'STANDINGSDATE': 'DATE'}, inplace=True)

In [26]:
ranking_season2022.sort_values('DATE')

,TEAM_ID,SEASON_ID,DATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD
1259,1610612762,12022,2022-09-30,West,Utah,0,0,0,0.000,0-0,0-0
1247,1610612742,12022,2022-09-30,West,Dallas,0,0,0,0.000,0-0,0-0
1248,1610612743,12022,2022-09-30,West,Denver,0,0,0,0.000,0-0,0-0
1249,1610612745,12022,2022-09-30,West,Houston,0,0,0,0.000,0-0,0-0
1250,1610612747,12022,2022-09-30,West,L.A. Lakers,0,0,0,0.000,0-0,0-0
...,...,...,...,...,...,...,...,...,...,...,...
4276,1610612738,22022,2022-12-22,East,Boston,32,22,10,0.688,11-5,11-5
4275,1610612749,22022,2022-12-22,East,Milwaukee,31,22,9,0.710,14-3,8-6
14,1610612745,22022,2022-12-22,West,Houston,31,9,22,0.290,6-9,3-13
4288,1610612766,22022,2022-12-22,East,Charlotte,32,8,24,0.250,4-11,4-13
0,1610612743,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8

### 중복 제거

In [27]:
games_details_season2022.shape

(14655, 25)

In [ ]:
games_details_season2022[games_details_season2022.duplicated(subset=['GAME_ID', 'PLAYER_ID'])]

Empty DataFrame
Columns: [GAME_ID, TEAM_ID, PLAYER_ID, START_POSITION, MIN, FGM, FGA, FG_PCT, FG3M, FG3A, FG3_PCT, FTM, FTA, FT_PCT, OREB, DREB, REB, AST, STL, BLK, TO, PF, PTS, PLUS_MINUS, DATE]
Index: []

[0 rows x 25 columns]

In [40]:
games_season2022[games_season2022.duplicated(subset=['GAME_ID'])]

Empty DataFrame
Columns: [DATE, GAME_ID, HOME_TEAM_ID, VISITOR_TEAM_ID, SEASON, TEAM_ID_home, PTS_home, FG_PCT_home, FT_PCT_home, FG3_PCT_home, AST_home, REB_home, TEAM_ID_away, PTS_away, FG_PCT_away, FT_PCT_away, FG3_PCT_away, AST_away, REB_away, HOME_TEAM_WINS]
Index: []

In [ ]:
ranking_season2022

### 타입 변환

In [ ]:
games_details.sort_values('MIN')

## MIN이 마이너스인 경우 -> 제거해야 함

In [ ]:
target_game_id = games_details[games_details['MIN'] < 0]['GAME_ID'].tolist()
target_game_id

In [ ]:
games[games['GAME_ID'].isin(target_game_id)].sort_values('GAME_DATE_EST')

## 2022 데이터로 한정

In [ ]:
games_details.loc[:, ['GAME_ID']]

In [ ]:
games_details_2022 = pd.merge(games_details, games[['GAME_DATE_EST', 'GAME_ID']], how='inner', on='GAME_ID')

In [ ]:
games_details_2022[games_details_2022['GAME_DATE_EST'].dt.year == 2022]