## games_details.csv의 데이터 구조 및 형식 파악

In [7]:
import pandas as pd

from utils import load_dataset

In [8]:
games_details = load_dataset('games_details', test=False)

### games_details의 구성

In [9]:
games_details.shape

(668628, 29)

### games_details의 관측 단위

In [10]:
games_details.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668628 entries, 0 to 668627
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            668628 non-null  int64
 1   TEAM_ID            668628 non-null  int64
 2   TEAM_ABBREVIATION  668628 non-null  object
 3   TEAM_CITY          668628 non-null  object
 4   PLAYER_ID          668628 non-null  int64
 5   PLAYER_NAME        668628 non-null  object
 6   NICKNAME           53037 non-null   object
 7   START_POSITION     255765 non-null  object
 8   COMMENT            109689 non-null  object
 9   MIN                558938 non-null  object
 10  FGM                558938 non-null  float64
 11  FGA                558938 non-null  float64
 12  FG_PCT             558938 non-null  float64
 13  FG3M               558938 non-null  float64
 14  FG3A               558938 non-null  float64
 15  FG3_PCT            558938 non-null  float64
 16  FTM                558938 non-null  float64
 17  FTA                558938 non-null  float64
 18  FT_PCT             558938 non-null  float64
 19  OREB               558938 non-null  float64
 20  DREB               558938 non-null  float64
 21  REB                558938 non-null  float64
 22  AST                558938 non-null  float64
 23  STL                558938 non-null  float64
 24  BLK                558938 non-null  float64
 25  TO                 558938 non-null  float64
 26  PF                 558938 non-null  float64
 27  PTS                558938 non-null  float64
 28  PLUS_MINUS         535277 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 147.9+ MB

In [11]:
games_details.dtypes

GAME_ID                int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_CITY             object
PLAYER_ID              int64
PLAYER_NAME           object
NICKNAME              object
START_POSITION        object
COMMENT               object
MIN                   object
FGM                  float64
FGA                  float64
FG_PCT               float64
FG3M                 float64
FG3A                 float64
FG3_PCT              float64
FTM                  float64
FTA                  float64
FT_PCT               float64
OREB                 float64
DREB                 float64
REB                  float64
AST                  float64
STL                  float64
BLK                  float64
TO                   float64
PF                   float64
PTS                  float64
PLUS_MINUS           float64
dtype: object

# 과제: 쓸데없는 실수형은 정수로 고쳐도 무방함

In [12]:
games_details.columns

Index(['GAME_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_CITY', 'PLAYER_ID',
       'PLAYER_NAME', 'NICKNAME', 'START_POSITION', 'COMMENT', 'MIN', 'FGM',
       'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT',
       'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF', 'PTS',
       'PLUS_MINUS'],
      dtype='object')

In [13]:
games_details.isnull().sum()

GAME_ID                   0
TEAM_ID                   0
TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_ID                 0
PLAYER_NAME               0
NICKNAME             615591
START_POSITION       412863
COMMENT              558939
MIN                  109690
FGM                  109690
FGA                  109690
FG_PCT               109690
FG3M                 109690
FG3A                 109690
FG3_PCT              109690
FTM                  109690
FTA                  109690
FT_PCT               109690
OREB                 109690
DREB                 109690
REB                  109690
AST                  109690
STL                  109690
BLK                  109690
TO                   109690
PF                   109690
PTS                  109690
PLUS_MINUS           133351
dtype: int64

In [14]:
games_details.nunique()

GAME_ID              26523
TEAM_ID                 30
TEAM_ABBREVIATION       34
TEAM_CITY               33
PLAYER_ID             2687
PLAYER_NAME           2664
NICKNAME               558
START_POSITION           3
COMMENT               5348
MIN                   3802
FGM                     26
FGA                     47
FG_PCT                 309
FG3M                    15
FG3A                    25
FG3_PCT                109
FTM                     27
FTA                     33
FT_PCT                 165
OREB                    18
DREB                    25
REB                     32
AST                     26
STL                     11
BLK                     13
TO                      13
PF                       8
PTS                     66
PLUS_MINUS             108
dtype: int64

In [15]:
games_details.head(10)

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,...,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,...,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,...,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,...,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,...,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
5,22200477,1610612759,SAS,San Antonio,1628380,Zach Collins,Zach,NaN,NaN,18:04,...,1.0,1.0,2.0,2.0,0.0,0.0,0.0,3.0,6.0,-13.0
6,22200477,1610612759,SAS,San Antonio,203926,Doug McDermott,Doug,NaN,NaN,16:55,...,1.0,3.0,4.0,1.0,0.0,0.0,1.0,0.0,5.0,-10.0
7,22200477,1610612759,SAS,San Antonio,1626196,Josh Richardson,Josh,NaN,NaN,21:20,...,1.0,2.0,3.0,3.0,0.0,0.0,1.0,2.0,14.0,-2.0
8,22200477,1610612759,SAS,San Antonio,1631103,Malaki Branham,Malaki,NaN,NaN,21:10,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,9.0,-6.0
9,22200477,1610612759,SAS,San Antonio,1628966,Keita Bates-Diop,Keita,NaN,NaN,9:16,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,4.0,-1.0

In [16]:
games_details['GAME_ID'].value_counts()

GAME_ID
22000070    45
12200040    42
11500085    40
12000019    40
12000047    40
            ..
10400117    18
10900107    18
10600102    18
10800105    18
10800092    18
Name: count, Length: 26523, dtype: int64

In [17]:
games_details['TEAM_ABBREVIATION'].value_counts()

TEAM_ABBREVIATION
MIA    24016
BOS    23797
SAS    23589
LAL    23259
DAL    23099
GSW    22691
CLE    22580
DEN    22531
IND    22498
UTA    22456
DET    22432
ATL    22432
MIL    22431
TOR    22312
HOU    22233
LAC    22224
PHX    22223
MEM    22196
POR    21975
WAS    21884
PHI    21859
CHI    21846
ORL    21830
SAC    21331
MIN    21324
NYK    21208
CHA    20366
OKC    17009
BKN    12149
NOP    10963
NJN     9765
NOH     8669
SEA     5314
NOK     2137
Name: count, dtype: int64

In [20]:
games_details[['TEAM_CITY', 'TEAM_ABBREVIATION']].drop_duplicates().sort_values('TEAM_CITY')

                        TEAM_CITY TEAM_ABBREVIATION
113                       Atlanta               ATL
140                        Boston               BOS
164                      Brooklyn               BKN
302                     Charlotte               CHA
102                       Chicago               CHI
66                      Cleveland               CLE
227                        Dallas               DAL
435                        Denver               DEN
77                        Detroit               DET
153                  Golden State               GSW
215                       Houston               HOU
127                       Indiana               IND
313                            LA               LAC
109043                Los Angeles               LAC
275                   Los Angeles               LAL
422                       Memphis               MEM
364                         Miami               MIA
52                      Milwaukee               MIL
238                     Minnesota               MIN
108935                 New Jersey               NJN
108023                New Orleans               NOH
206826                New Orleans               NOK
14                    New Orleans               NOP
176872  New Orleans/Oklahoma City               NOK
189                      New York               NYK
263                 Oklahoma City               OKC
203                       Orlando               ORL
90                   Philadelphia               PHI
411                       Phoenix               PHX
251                      Portland               POR
287                    Sacramento               SAC
0                     San Antonio               SAS
143414                    Seattle               SEA
177                       Toronto               TOR
37                           Utah               UTA
25                     Washington               WAS

# 지역의 지원이 하나의 요인이 될 수 있다. -> 팀의 지역이 겹치는 것은 LAC와 LAL 뿐
# TEAM_CITY, TEAM_ABBREVIATION은 같은 팀을 가리키는데 바뀌기도 하고 다르기도 함 (New Orleans라던가)
# TEAM_CITY와 TEAM_ABBREVAIATION은 삭제하고 TEAM_ID, GAME_ID로 구분할 것
# ranking에서 날짜별 TEAM_ID와 TEAM명이 살아있음
# games에서 날짜별 GAME_ID가 살아있음

In [ ]:
games_details['COMMENT'].value_counts()

COMMENT
DNP - Coach's Decision                      58054
DNP - Coach's Decision                      30547
DND - Injury/Illness                         1267
DNP - Injury/Illness                         1161
DNP - Injury/Illness                         1151
                                            ...
DND - MILD AC JOINT SPRAIN RT. SHOULDER         1
NWT - Flu like Symptoms                         1
DND - Left Hip                                  1
NWT - Lateral Meniscus Tear Left Knee           1
NWT - Left Mid-foot Sprain                      1
Name: count, Length: 5348, dtype: int64

# 과제: 앞에만 따로 분리해서 사용할지, 버릴지, 대강 끝나고 선수에 대한 이유를 붙일 때 필요할지

In [27]:
one_game = games_details['GAME_ID'] == 22100916

games_details[one_game]

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,...,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
25168,22100916,1610612746,LAC,LA,201587,Nicolas Batum,Nicolas,F,NaN,20:51,...,0.0,5.0,5.0,1.0,1.0,1.0,0.0,0.0,5.0,-1.0
25169,22100916,1610612746,LAC,LA,202694,Marcus Morris Sr.,Marcus,F,NaN,31:56,...,0.0,3.0,3.0,1.0,0.0,0.0,3.0,3.0,13.0,-1.0
25170,22100916,1610612746,LAC,LA,1627826,Ivica Zubac,Ivica,C,NaN,33:57,...,4.0,11.0,15.0,3.0,1.0,6.0,4.0,3.0,14.0,16.0
25171,22100916,1610612746,LAC,LA,1629611,Terance Mann,Terance,G,NaN,27:25,...,0.0,8.0,8.0,2.0,2.0,1.0,1.0,5.0,9.0,7.0
25172,22100916,1610612746,LAC,LA,202704,Reggie Jackson,Reggie,G,NaN,38:04,...,0.0,9.0,9.0,6.0,0.0,0.0,5.0,4.0,26.0,9.0
25173,22100916,1610612746,LAC,LA,1630527,Brandon Boston Jr.,Brandon,NaN,NaN,4:24,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,-10.0
25174,22100916,1610612746,LAC,LA,1628379,Luke Kennard,Luke,NaN,NaN,23:24,...,0.0,3.0,3.0,1.0,0.0,0.0,0.0,0.0,3.0,-10.0
25175,22100916,1610612746,LAC,LA,1628392,Isaiah Hartenstein,Isaiah,NaN,NaN,10:23,...,2.0,2.0,4.0,0.0,0.0,2.0,3.0,4.0,12.0,-11.0
25176,22100916,1610612746,LAC,LA,203496,Robert Covington,Robert,NaN,NaN,24:34,...,2.0,6.0,8.0,1.0,0.0,2.0,0.0,0.0,8.0,8.0
25177,22100916,1610612746,LAC,LA,1629599,Amir Coffey,Amir,NaN,NaN,25:02,...,1.0,2.0,3.0,3.0,0.0,0.0,2.0,3.0,9.0,-2.0
25178,22100916,1610612746,LAC,LA,203918,Rodney Hood,Rodney,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25179,22100916,1610612746,LAC,LA,1628400,Semi Ojeleye,Semi,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25180,22100916,1610612745,HOU,Houston,201569,Eric Gordon,Eric,F,NaN,30:48,...,1.0,3.0,4.0,2.0,0.0,0.0,1.0,2.0,6.0,-12.0
25181,22100916,1610612745,HOU,Houston,1630256,Jae'Sean Tate,Jae'Sean,F,NaN,31:43,...,0.0,6.0,6.0,4.0,4.0,0.0,0.0,3.0,14.0,-10.0
25182,22100916,1610612745,HOU,Houston,1626174,Christian Wood,Christian,C,NaN,31:35,...,2.0,5.0,7.0,1.0,0.0,0.0,0.0,5.0,15.0,4.0
25183,22100916,1610612745,HOU,Houston,1630224,Jalen Green,Jalen,G,NaN,37:51,...,1.0,2.0,3.0,3.0,2.0,0.0,0.0,1.0,10.0,4.0
25184,22100916,1610612745,HOU,Houston,203471,Dennis Schroder,Dennis,G,NaN,37:44,...,1.0,7.0,8.0,10.0,0.0,0.0,2.0,5.0,11.0,3.0
25185,22100916,1610612745,HOU,Houston,1629726,Garrison Mathews,Garrison,NaN,NaN,26:10,...,0.0,1.0,1.0,1.0,2.0,0.0,1.0,1.0,17.0,8.0
25186,22100916,1610612745,HOU,Houston,1630231,Kenyon Martin Jr.,Kenyon,NaN,NaN,15:06,...,0.0,2.0,2.0,2.0,0.0,0.0,0.0,1.0,10.0,5.0
25187,22100916,1610612745,HOU,Houston,1630528,Josh Christopher,Josh,NaN,NaN,12:43,...,0.0,3.0,3.0,3.0,0.0,0.0,0.0,1.0,0.0,-3.0
25188,22100916,1610612745,HOU,Houston,1630578,Alperen Sengun,Alperen,NaN,NaN,16:20,...,1.0,2.0,3.0,0.0,0.0,0.0,2.0,2.0,15.0,-4.0
25189,22100916,1610612745,HOU,Houston,1628981,Bruno Fernando,Bruno,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25190,22100916,1610612745,HOU,Houston,1628021,David Nwaba,David,NaN,DNP - Coach's Decision,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 과제1: START_POSITON은 선발 뿐, 중간에 투입된 선수는 비어있다. 어떻게 할 것인가.
# 선수 분류: 선발, 교체, 벤치 -> 분리해서 분석?
- 선발: START_POSITON이 있다.
- 교체: START_POSITON이 없고, MIN이 있다.
- 벤치: START_POSITON이 없고, MIN도 없다.
선수분류: '선발', '교체', '벤치'
# 교체 흐름을 파악할 수 있나?
## 페이지에 직접 가서 파악은 가능. 교체 했다가 또 들어오기도 함
## https://www.nba.com/game/bos-vs-tor-0041900212/play-by-play?awayPlayerShots=&period=All&latest=0
## TEAM_ABBREVIATION.lower()-vs-TEAM_ABBREVIATION.lower()-GAME_ID/
## SUB로 표현되어잇음
## 여기까지 하기엔 시간이...흠