In [2]:
import pandas as pd

from utils import load_dataset

In [3]:
ranking = load_dataset('ranking', test=False)

In [4]:
ranking.shape

(210342, 13)

In [5]:
ranking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210342 entries, 0 to 210341
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   TEAM_ID        210342 non-null  int64
 1   LEAGUE_ID      210342 non-null  int64
 2   SEASON_ID      210342 non-null  object
 3   STANDINGSDATE  210342 non-null  datetime64[ns]
 4   CONFERENCE     210342 non-null  object
 5   TEAM           210342 non-null  object
 6   G              210342 non-null  int64
 7   W              210342 non-null  int64
 8   L              210342 non-null  int64
 9   W_PCT          210342 non-null  float64
 10  HOME_RECORD    210342 non-null  object
 11  ROAD_RECORD    210342 non-null  object
 12  RETURNTOPLAY   3990 non-null    float64
dtypes: datetime64[ns](1), float64(2), int64(5), object(5)
memory usage: 20.9+ MB

In [6]:
ranking.isnull().sum()

TEAM_ID               0
LEAGUE_ID             0
SEASON_ID             0
STANDINGSDATE         0
CONFERENCE            0
TEAM                  0
G                     0
W                     0
L                     0
W_PCT                 0
HOME_RECORD           0
ROAD_RECORD           0
RETURNTOPLAY     206352
dtype: int64

In [7]:
ranking.nunique()

TEAM_ID            30
LEAGUE_ID           1
SEASON_ID          41
STANDINGSDATE    7023
CONFERENCE          2
TEAM               34
G                  83
W                  74
L                  73
W_PCT             895
HOME_RECORD       800
ROAD_RECORD       758
RETURNTOPLAY        2
dtype: int64

# 과제: LEAGUE_ID삭제
# CONFERENCE 분할? 그룹?
# TEAM_ID와 TEAM 개수가 다른 이유 파악

In [8]:
ranking.head(10)

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
0,1610612743,0,22022,2022-12-22,West,Denver,30,19,11,0.633,10-3,9-8,NaN
1,1610612763,0,22022,2022-12-22,West,Memphis,30,19,11,0.633,13-2,6-9,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN
3,1610612756,0,22022,2022-12-22,West,Phoenix,32,19,13,0.594,14-4,5-9,NaN
4,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN
5,1610612758,0,22022,2022-12-22,West,Sacramento,30,17,13,0.567,9-5,8-8,NaN
6,1610612762,0,22022,2022-12-22,West,Utah,35,19,16,0.543,12-5,7-11,NaN
7,1610612757,0,22022,2022-12-22,West,Portland,32,17,15,0.531,7-6,10-9,NaN
8,1610612742,0,22022,2022-12-22,West,Dallas,32,16,16,0.500,12-5,4-11,NaN
9,1610612750,0,22022,2022-12-22,West,Minnesota,32,16,16,0.500,9-8,7-8,NaN

### 팀 아이디와 팀 비교

In [9]:
ranking['TEAM'].value_counts()

TEAM
Dallas                       7026
Memphis                      7025
Houston                      7025
Minnesota                    7025
Boston                       7025
Golden State                 7025
Washington                   7025
Milwaukee                    7025
New York                     7025
Denver                       7024
Miami                        7024
Chicago                      7024
Utah                         7023
Portland                     7023
L.A. Lakers                  7023
San Antonio                  7023
Phoenix                      7023
Sacramento                   7023
Detroit                      7023
Orlando                      7023
Toronto                      7023
Cleveland                    7023
Indiana                      7023
Atlanta                      7023
Philadelphia                 7023
Charlotte                    6649
New Orleans                  6345
Oklahoma City                5196
L.A. Clippers                4384
Brooklyn                     3731
New Jersey                   3292
LA Clippers                  2639
Seattle                      1831
New Orleans/Oklahoma City     678
Name: count, dtype: int64

In [13]:
grouped = ranking.groupby(['TEAM_ID']).agg(DISTINCT_TEAM=('TEAM', 'nunique'))
grouped

            DISTINCT_TEAM
TEAM_ID
1610612737              1
1610612738              1
1610612739              1
1610612740              2
1610612741              1
1610612742              1
1610612743              1
1610612744              1
1610612745              1
1610612746              2
1610612747              1
1610612748              1
1610612749              1
1610612750              1
1610612751              2
1610612752              1
1610612753              1
1610612754              1
1610612755              1
1610612756              1
1610612757              1
1610612758              1
1610612759              1
1610612760              2
1610612761              1
1610612762              1
1610612763              1
1610612764              1
1610612765              1
1610612766              1

In [14]:
team_cond = (grouped[grouped['DISTINCT_TEAM'] > 1].index)
filtered = ranking[ranking['TEAM_ID'].isin(team_cond)].sort_values('STANDINGSDATE')
filtered

,TEAM_ID,LEAGUE_ID,SEASON_ID,STANDINGSDATE,CONFERENCE,TEAM,G,W,L,W_PCT,HOME_RECORD,ROAD_RECORD,RETURNTOPLAY
92950,1610612746,0,22002,2003-10-01,West,L.A. Clippers,82,27,55,0.329,16-25,11-30,NaN
181543,1610612751,0,22002,2003-10-01,East,New Jersey,82,49,33,0.598,33-8,16-25,NaN
92947,1610612760,0,22002,2003-10-01,West,Seattle,82,40,42,0.488,25-16,15-26,NaN
181546,1610612740,0,22002,2003-10-01,East,New Orleans,82,47,35,0.573,29-12,18-23,NaN
181531,1610612740,0,22002,2003-10-02,East,New Orleans,82,47,35,0.573,29-12,18-23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
17,1610612740,0,22022,2022-12-21,West,New Orleans,30,18,12,0.600,12-4,6-8,NaN
11,1610612760,0,22022,2022-12-22,West,Oklahoma City,32,14,18,0.438,9-7,5-11,NaN
4,1610612746,0,22022,2022-12-22,West,LA Clippers,33,19,14,0.576,11-7,8-7,NaN
4278,1610612751,0,22022,2022-12-22,East,Brooklyn,32,20,12,0.625,11-5,9-7,NaN
2,1610612740,0,22022,2022-12-22,West,New Orleans,31,19,12,0.613,13-4,6-8,NaN

In [15]:
print(filtered.groupby(['TEAM_ID']).agg(DISTINCT_TEAM=('TEAM', 'unique')))

                                       DISTINCT_TEAM
TEAM_ID
1610612740  [New Orleans, New Orleans/Oklahoma City]
1610612746              [L.A. Clippers, LA Clippers]
1610612751                    [New Jersey, Brooklyn]
1610612760                  [Seattle, Oklahoma City]

In [16]:
team_dates = filtered.groupby('TEAM').agg(Start=('STANDINGSDATE', 'min'), End=('STANDINGSDATE', 'max')).reset_index()

In [17]:
import plotly.express as px

# 타임라인 차트
fig = px.timeline(
    team_dates,
    x_start="Start",
    x_end="End",
    y="TEAM",
    color="TEAM"
)

fig.update_layout(
    title="팀별 기간 타임라인",
    xaxis_title="날짜",
    yaxis_title="팀",
    width=900,
    height=400
)

fig.show()

# 과제: 이름이 바뀐 거라 통합할지, 완전 끝나고 새 팀이 들어온 거라 따로 봐야할지 고민 필요